@model List<FCK.Studio.Core.Articles>
@foreach (var item in Model)
            {
    <div class="post-preview">
        @if (item.Images != null)
        {
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <img src="http://localhost:8081/@item.Images" height="200" class="img-rounded img-responsive img-thumbnail" style="margin:0px 10px 10px 0px">
                </div>
                <div class="col-md-9  col-sm-12">
                    <a href="/Home/Detail/@item.Id">
                        <h4 class="post-title">
                            @item.Title
                        </h4>
                        <h5 class="post-subtitle">
                            @item.Intro
                        </h5>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">@item.Author</a>
                        @(item.UpdateTime == null ? item.CreationTime.ToString() : item.UpdateTime.Value.ToString())
                    </p>
                </div>
            </div>
        }
        else
        {
            <a href="/Home/Detail/@item.Id">
                <h4 class="post-title">
                    @item.Title
                </h4>
                <h5 class="post-subtitle">
                    @item.Intro
                </h5>
            </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">@item.Author</a>
                        @(item.UpdateTime == null ? item.CreationTime.ToString() : item.UpdateTime.Value.ToString())
                    </p>
        }
        
        
        
    </div>
            <hr>
}