@model FCK.Studio.Core.Articles
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">@(Model.Title)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p>@(Html.Raw(Model.Contents))</p>
        <p>
            @if (Model.Category.CategoryName == "办事流程")
            {
                <a href="/Activity/Bespeak/@(Model.Id)" class="btn btn-success">我要预约</a>
            }
            else if (Model.Category.CategoryName == "志愿服务" || Model.Category.CategoryName == "活动报名")
            {
                <p class="text-center">限额：@(Model.LimitSignUp) 已报名：@(Model.SignUpNums) 截至日期：@(Model.SignUpEndTime==null?"": Model.SignUpEndTime.Value.ToShortDateString())</p>
                if (Model.SignUpNums >= Model.LimitSignUp || DateTime.Now > Model.SignUpEndTime)
                {
                    <p class="text-center"><button class="btn btn-default disabled">我要报名</button></p>
                }
                else
                {
                    <p class="text-center"><a href="/Activity/SignUp/@(Model.Id)" class="btn btn-primary">我要报名</a></p>
                }
            }
        </p>

    </div>
    <div class="card-footer">
        <small>
            <i class="fa fa-pencil"></i> @(Model.Author) <i class="fa fa-reorder"></i> @(Model.Category.CategoryName) <i class="fa fa-clock-o"></i> @(Model.UpdateTime) 
        </small>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('.card-body img').addClass("img-responsive");
        });
    </script>
}

