@model List<FCK.Studio.Web.Dto.CategoryTree>

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/Content/dist/img/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@(ViewBag.Admin)</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>控制台</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/Home/Dashboard" target="InnerFra"><i class="fa fa-circle-o"></i> 管理首页</a></li>
                </ul>
            </li>
            @foreach (var item in Model.Where(o => o.ParentId == 0).ToList())
            {
                var childs = Model.Where(o => o.ParentId == item.Id).ToList();
                <li class="@(childs.Count>0?"treeview":"")">
                    <a href="@(childs.Count==0?item.LinkUrl:"#")" target="InnerFra">
                        <i class="@(item.Icons)"></i> <span>@(item.CategoryName)</span>
                        <span class="pull-right-container">
                            @if (childs.Count > 0)
                            {
                                <i class="fa fa-angle-left pull-right"></i>
                            }
                        </span>
                    </a>
                    @if (childs.Count > 0)
                {
                        <ul class="treeview-menu">
                            @foreach (var child in childs)
                            {
                                <li><a href="@(child.LinkUrl)" target="InnerFra"><i class="@(child.Icons)"></i> @(child.CategoryName)</a></li>
                            }
                        </ul>
                    }
                </li>
            }
@if (ViewBag.Admin == "admin")
{
            <li class="treeview">
                <a href="#" target="InnerFra">
                    <i class="fa fa-laptop"></i> <span>系统管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Categories/?lay=Menus" target="InnerFra"><i class="fa fa-circle-o"></i> 菜单权限</a></li>
                    <li><a href="/Tenants/" target="InnerFra"><i class="fa fa-circle-o"></i> 站点管理</a></li>
                    <li><a href="/Admins/" target="InnerFra"><i class="fa fa-circle-o"></i> 管理员</a></li>
                </ul>
            </li>
}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>